dev/tests/Unit/Console/Command/CompareSourceCommandTest/_files/xsd-schema/module-added/source-code-after/Magento/TestModule/etc/test-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rootElement">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requiredElement" minOccurs="1"/>
                <xs:element name="optionalElement" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>