dev/tests/Unit/Console/Command/CompareSourceCommandTest/_files/xsd-schema/schema-declaration-added/source-code-after/Magento/TestModule/etc/test-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="example">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="inputType" type="inputTypeDeclaration" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="inputTypeDeclaration">
        <xs:annotation>
            <xs:documentation>
                Input type declaration.
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>
</xs:schema>